body 
{
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    /*background: #fffffff5;*/
}
.navbar 
{
    background:#12131ae3;
}
.navbar-brand
{
    color: rgb(255, 255, 255)
}
.nav-link 
{
    color: rgb(180, 180, 180);
    cursor: pointer;
}
.nav-link:hover 
{
    color: rgba(255, 255, 255, 0.918);
}
.welcome
{
    left: 25%;
	position: absolute;
	top: 25%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.welcome p
{
    /*background-color: rgb(180, 180, 180);*/
    max-width: 500px;
}
.welcome button 
{
  
}
.welcome button:hover 
{

}
#container
{
    min-height: 100vh;
}
.top{
    height: 50vh;
    background-color:aliceblue;
}
.bottom{
    height: 50vh;
    background-color:rgb(167, 167, 167);
}