html, body 
{
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}
 
/* uneccessary since nav uses bootstrap templates
.navbar 
{
  background:#12131ae3;
}
.navbar-brand
{
  color: rgb(255, 255, 255)
}
.nav-link 
{
  color: rgb(180, 180, 180);
  cursor: pointer;
}
.nav-link:hover 
{
  color: rgba(255, 255, 255, 0.918);
}
*/

header /* background for header */
{
  background-color: aliceblue;
  height: 50vh;
}
.welcome /* css for header text*/
{
  left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -55%);
	text-align: center;
}

/* Split the screen in half */
.split 
{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
  
  /* Control the left side */
.left 
{
  left: 0;
  background-color: #111;
}
  
  /* Control the right side */
.right 
{
  right: 0;
  background-color: red;
}
  
  /* If you want the content centered horizontally and vertically */
.centered 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.blur
{
  filter: blur(4px);
}

.welcome p /*sets max width for text under title */
{
  max-width: 500px;
}
.description /* sets background for bottom half of page*/
{
  background-color: rgb(52, 58, 64);
  height: 50vh;
}
.container 
{
  float: auto;
  width: 1200px; 
  height: auto;  
}
.column 
{
  width: 250px;
  float: left;
  padding: 50px;
  overflow: hidden;
}
.column img 
{
  width: 200px;
  height: 200px;
  float: left;
  display: inline;
}
.returnButton /* presentation return button */
{
  height: 50px;
  margin-right: 2.5%;
  font: 16px Arial;
  text-decoration: none;
  background-color: #e9e8ed;
  color: #080204;
  padding-top: 15.25px;
  padding-bottom: 15.5px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid #908f94;
  border-radius: 6.5%;
}
.returnButton:hover
{
  background-color: #d0d0d8;
  color: #080204;
}