html, body 
{
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    /*background: #fffffff5;*/
}
/*
.navbar 
{
    background:#12131ae3;
}
.navbar-brand
{
    color: rgb(255, 255, 255)
}
.nav-link 
{
    color: rgb(180, 180, 180);
    cursor: pointer;
}
.nav-link:hover 
{
    color: rgba(255, 255, 255, 0.918);
}
*/
#container /* just for setting total height of whole page*/
{
    min-height: 100vh;
}
header /* background for header */
{
    background-color: aliceblue;
    height: 50vh;
}
.welcome /* css for header text*/
{
    left: 50%;
	position: absolute;
	top: 25%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.welcome p /*sets max width for text under title*/
{
    max-width: 500px;
}
.description /* sets background for bottom half of page*/
{
    background-color: rgb(52, 58, 64);
    height: 50vh;
}